@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main" style="background-color: bisque">
    <div class="row" style="background-color: black;">
        <div class="col">
            <h1 class="text-center" style="color: azure">Kirill Korelskiy's Legendary Games Statistics</h1>
        </div>
    </div>

    <div class="content px-4">
        @Body
        <div class="row">
            <div class="col" style="background-color: black">
                <p><span style="color: azure">The End of 2020 - Korelskiy K.</span></p>
            </div>
        </div>
    </div>
</div>
